# Ignore directories
obj/
bin/
Debug/
Release/
packages/

# Ignore extensions
*.old
*.user
*.suo
*.sdf
*.userprefs
*~

externals/net/tmp/
Ragnarok/Ragnarok.xml
Ragnarok.Presentation/Ragnarok.Presentation.xml
.vs/
