<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="${basedir}/logs"/>

  <targets>
    <target name="file" xsi:type="File"
            fileName="${logDirectory}/log_${shortdate}.txt"
            layout="${date}|${level}| ${message}">
    </target>

    <target name="database_errlog" xsi:type="Database"
            dbProvider="Npgsql.NpgsqlConnection, Npgsql, Version=2.0.11.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"
            dbHost="localhost" dbDatabase="database"
            dbUserName="test" dbPassword="xxx">
      <commandText>
      insert into
        error_log (host, level, message, time_stamp, exception)
        values (@host, @level, @message, @time_stamp, @exception);
      </commandText>

      <parameter name="@host" layout="${machinename}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@time_stamp" layout="${date}" />
      <parameter name="@exception" layout="${repeated-exception:format=Type,Message,StackTrace:separator=\: }" />
    </target>

    <target name="syslog" xsi:type="RemoteSyslog"
            server="garnet-alice.net" port="514"
            facility="Local0"
            layout="${message}">
    </target>
  </targets>
</nlog>
