<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="${basedir}/logs"/>

  <targets>
    <target name="console" xsi:type="Console">
      <layout xsi:type="SimpleLayout"
              text="${longdate}|${level:uppercase=true}: ${message}" />
    </target>
    
    <target name="file" xsi:type="File"
            fileName="${logDirectory}/log.txt">
      <layout xsi:type="SimpleLayout"
              text="${longdate}|${level:uppercase=true}|${threadid}: ${message}" />
    </target>

    <!-- コンソールにエラーを出力 -->
    <target name="console_err" xsi:type="Console"
            layout="${longdate} ${level:uppercase=true}&#009;${message} ${onexception: ${newline} ${exception:format=Message,Type,ToString:separator=*}}"
            header="[${longdate}: ${processname} Start.]"
            footer="[${longdate}: End.]" />

    <!-- ファイルにエラーを出力 -->
    <target name="file_err" xsi:type="File"
            fileName="${logDirectory}/error.txt"
            layout="${longdate} ${level:uppercase=true}&#009;${message} ${onexception: ${newline} ${exception:format=Message,Type,ToString:separator=*}}"
            header="[${longdate}: ${processname} Start.]"
            footer="[${longdate}: End.]" />
  </targets>

  <rules>
    <logger minlevel="Debug" writeTo="file" />
    <logger minlevel="Debug" writeTo="console" />
    <logger minlevel="Error" writeTo="console_err" />
    <logger minlevel="Error" writeTo="file_err" />
    <!--<logger minlevel="Error" writeTo="database_errlog" />-->
  </rules>
</nlog>
